- determines what kind o factions you can do 

### Integers
- numbers without any fracitonal aprt, postive/negative/zero
- verifying th etype with type()

In [37]:
x = 14
print(x)
print(type(x))

14
<class 'int'>

### Floats
- numbers with fractional parts, many decimals  
- 1., 1.0, 1.000 -> python recognise them as ' float'

In [38]:
nearly_pi = 3.141
print(nearly_pi)
print(type(nearly_pi))

# round() #rounding numbers

rounded_pi = round(nearly_pi,2)
print(rounded_pi)
print(type(rounded_pi))

3.141
<class 'float'>
3.14
<class 'float'>

### Blooleans
- one of two values: True or False
- setting z_one to a boolean with valeu Ture.

In [39]:
z_one = True
print(z_one)
print (type(z_one))

True
<class 'bool'>

- used to represent the true value of an expression
- 1< 2 is true statement

In [40]:
z_three = (1<2)
print(z_three)
print (type(z_three))

True
<class 'bool'>

- switching value of boolean by using 'not'

In [41]:
z_five = not z_three
print(z_five)
print(type(z_five))

False
<class 'bool'>

- conditions and conditional statements

### Strings
- collection of charactors (alphabets, punctuation, num digits, symbols) containedin quotation marks
- commonly used to represent text

In [42]:
w = "Hello, Python"
print(w)
print(type(w))

Hello, Python
<class 'str'>

In [43]:
#len() # finding lenght, including space, coma, etc - not including '' 
print(len(w))

13

- empty string 0 length

In [ ]:
shortest_string = ""
print(type(shortest_string))
print(len(shortest_string))

##???

<class 'str'>
0

- can be convertable to a float
- eg. 10.43430 not not text

In [48]:
my_number = "1.12321"
also_my_number = float(my_number)
print(also_my_number)
print(type(also_my_number))

1.12321
<class 'float'>

- adding_strings - give slonger string through cancatenation

In [50]:
new_string = "abc" + "def"
print(new_string)

abcdef

- no substraction or division allowed but can mulitply

In [52]:
newest_string = "abc"*3
print(newest_string)
print(type(newest_string))

abcabcabc
<class 'str'>

- but muliplying a float wont' work

In [54]:
"abc" * 3.1
# non int

TypeError: can't multiply sequence by non-int of type 'float'